/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2014, 16:23:52
    Author     : jadson
*/

body{
    background-color: #dee0e2;
    font-size: 180%;
}

.btn, .modal-body, .modal-header h4{
    font-size: 100%;
}

.btn-link, .modal-header .close{
    font-size: 120%;
}

.title{
    font-weight: bold;
    font-size: 150%;
    margin: 0;
}

#btHomenh{
    width: 75%;
}

#appTile{
    font-size: 115%;
}

.navbar .icon, .navbar .fa{
    font-size: 270%;
    padding-top: 8px;
}

.navbar .icon{
    font-size: 170%;
}

.btBack{
    font-size: 130%;
    margin: 10px 0;
}

.form-control{
    font-size: 100%;  
}